.text{
    font-size: 1.4rem;
    font-weight: 900;
    color: rgb(73, 73, 73);
}
.itemList{
    font-size: 1.4rem;
    font-weight: 400;
    list-style-type: none;
}
.text{
    font-size: 1.4rem;
    font-weight: 900;
    color: rgb(73, 73, 73);
    margin-left: 4rem;
}
.subText{
    color: rgb(114, 118, 130);
   
}