
html{
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}


body{
    margin: 0;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 10px;
    width: 100%;

}
.App{
  min-height: 100vh;
  background-color: rgb(245, 247, 249);
}
